* {
    padding: 0;
    margin: 0;
}

html {
    background: black;
}

.post {
    margin: auto;
    width: 27%;
    padding: 8px;
    background: white;
}

.more-option {
    display: grid;
    margin-left: 420px;
}

.post-header {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.name {
    margin-left: px;

}

.imagen {
    display: grid;
}

.foto-perfil {
    width: 16px;
}

.foto-post {
    display: flex;
    width: 100%;
}

.simbolos {
    display: flex;
}

.iconos {
    display: flex;
    margin-right: 443px;
    margin-left: 2px;
    gap: 4px;
}

.guardar {
    display: inline;
}

.parrafos {
    width: 425px;
}