@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    background: black;
    font-family: "Roboto", sans-serif;
}

i {
    font-size: 2rem;
}

.post {
    background: white;
    max-width: 540px;
    margin: auto;
}

.post-header {
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
}

.post-header>:last-child {
    margin-left: auto;
}

.post-image img {
    width: 100%;
}

.post-icons {
    padding: 1rem;
    display: flex;
    gap: 0.75rem;
}

.post-icons>:last-child {
    margin-left: auto;
}

.post-body {
    padding: 1rem;
}